<form ngForm #form="ngForm" (ngSubmit)="submit(form)" class="update-form">
  <span color="accent">Login</span>
  <mat-form-field appearance="standard">
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      placeholder="Username"
      [ngModel]=""
      name="username"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [ngModel]=""
      name="password"
      placeholder="Password"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!form.valid">
    Login
  </button>
</form>
