<table mat-table [dataSource]="todos" class="mat-elevation-z8">
  <ng-container matColumnDef="title" [sticky]="true">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="userId" [sticky]="true">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td class="column" mat-cell *matCellDef="let element">
      {{ element.userId }}
    </td>
  </ng-container>

  <ng-container matColumnDef="completed" [sticky]="true">
    <th mat-header-cell *matHeaderCellDef>Completed</th>
    <td class="column" mat-cell *matCellDef="let element">
      <ng-container [ngSwitch]="element.completed">
        <mat-icon *ngSwitchCase="true">done</mat-icon>
        <mat-icon *ngSwitchCase="false">close</mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="operation" [sticky]="true">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="column" mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="deleteItem(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        (click)="navigateToUpdate(element.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
