:host {
  display: grid;
  place-items: center;
  height: 100%;
  form {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: auto;
    flex-direction: column;
    gap: 15px;
  }
  span {
    font-size: 180%;
    color: #6d4c41;
  }
}
